# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# PyCharm IDE settings
.idea/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Test & coverage outputs
.coverage
*.cover
htmlcov/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
*.sqlite3

# Ignore .env files containing secrets
.env